<robot xmlns:xacro="http://ros.org/wiki/xacro">
	<xacro:macro name="NM45_mesh" params="prefix">
		<!-- link list -->
		<link name="${prefix}base_link">
			<visual>
				<geometry>
					<mesh filename="package://Comau_config/meshes/visual/NM-45_Basetest.STL" />
				</geometry>
				<material name="red">
					<color rgba="1 0 0 1"/>
				</material>
			</visual>
		</link>
		<!-- end of link list -->
		<!-- joint list -->
		<!-- end of joint list -->
	</xacro:macro>
</robot>
